@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
    background: linear-gradient(90deg, #515151 0%, #afacac 100%);
    font-family: 'Poppins', sans-serif;
}

form {
    border-radius: 20px;
    margin-top: 10%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    width: 100%;
    border: none;
    border-radius: 50px;
    background: linear-gradient(90deg, #191819 0%, #ffffff 100%);
}

.form-control {
    color: rgba(0, 0, 0, .87);
    border-bottom-color: rgba(0, 0, 0, .42);
    box-shadow: none !important;
    border: none;
    border-bottom: 1px solid;
    border-radius: 4px;
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
}

.form-label {
    font-weight: 600;
    color: #333;
}

@media only screen and (max-width: 600px) {
    form {
        width: 80% !important;
    }
}